<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/css/maquillajeP.css"></script>


<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" style="width: 100%">
      <a class="navbar-brand display-4" href="/">Empresa X</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">Usuarios</a>
              <div class="dropdown-menu">
                <a class="dropdown-item " href="/crearUsuario">Agregar usuario</a>
                <a class="dropdown-item " href="/administrarUsuarios">Administrar usuario</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">Trabajadores</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/agregarTrabajador">Agregar Trabajador</a>
                <a class="dropdown-item" href="/trabajadores">Ver Trabajadores</a>
                <a class="dropdown-item" href="/agregarPrestamo">Agregar Prestamos</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/diaPago">Dias de Pago</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cargos">Cargo</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">Nomina</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/crearNomina">Crear</a>
                <a class="dropdown-item" href="/vistaNomina">Ver</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</div>
</div>
