<head>
  <title>Administrador</title>
</head>
<div>
  <ul>
    <li>
      <ul>
        Administrar Trabajador
        <li>
          <a href="/agregarTrabajador">Agregar Trabajador</a>
          <a href="/trabajadores">Lista de trabajadores</a>
        </li>
      </ul>
    </li>
    <li>
      <ul>Administrar Usuario
        <li><a href="/crearUsuario">Crear Usuario</a></li>
        <li><a href="/verUsuarios">Ver Usuarios</a></li>
      </ul>
    </li>
    <li>
      <ul>
        Administrar Nomina
        <li>
          <a href="/crearNomina">Crear Nomina</a>
          <a href="/verNominas">Ver Nominas</a>
        </li>
      </ul>
    </li>
    <li><a href="/logout">Cerrar sesion</a></li>
  </ul>
</div>