<div>
  <ul>
    <li>
      <ul>
        Administrar Trabajador
        <li>
          <a href="/agregarTrabajador">Agregar Trabajador</a>
        </li>
      </ul>
    </li>
    <li>
      <ul>Administrar Usuario
        <li><a href="/crearUsuario">Crear Usuario</a></li>
        <li><a href=""> </a></li>
      </ul>
    </li>
    <li>asdf</li>
  </ul>
</div>