<head>
  <title>Administrador</title>
</head>
<div>
  <ul>
    <li>
      <ul>
        Administrar Trabajador
        <li>
          <a href="/agregarTrabajador">Agregar Trabajador</a>
          <a href="/EliminarT">Eliminar Trabajador</a>
        </li>
      </ul>
    </li>
    <li>
      <ul>Administrar Usuario
        <li><a href="/crearUsuario">Crear Usuario</a></li>
        <li><a href="/verUsuarios" >Ver Usuarios</a></li>
        <li><a href="/eliminarUsuarios">Eliminar Usuarios</a></li>

      </ul>
    </li>
    <li></li>
  </ul>
</div>