<head>
  <title>Recursos Humanos</title>
</head>
<div>
  <ul>
    <li>
      <ul>
        Administrar Trabajador
        <li>
          <a href="/agregarTrabajador">Agregar Trabajador</a>
          <a href="/EliminarT">Eliminar Trabajador</a>
          <a href="/verTrabajadores" >Ver lista de Trabajadores</a>
        </li>
      </ul>
    </li>
    <li>
      <ul>Administrar Usuario
        <li><a href="/Contrasena">Cambiar contrasena</a></li>
      </ul>
    </li>
    <li><a href="/exit">Cerrar sesion</a></li>
  </ul>
</div>