<head>
  <title>Bienvenido</title>
</head>
<div>
  <ul>
    <li>
      <ul>
        Acciones
        <li>
          <a href="/trabajadorHoras">Marcar hora de entrada/salida</a>
        </li>
      </ul>
    </li>
    <li>
      <ul>Administrar Usuario
        <li><a href="/Contrasena">Cambiar contrasena</a></li>
      </ul>
    </li>
    <li><a href="/logout">Cerrar sesion</a></li>
  </ul>
</div>