<head>
    <title>Nomina</title>
</head>
<header id="name">
    <h1>Empresa x</h1>
    <h2> Nomina</h2>
</header>
<div id="period">
    <h4>impreso al dia ----</h4>
    <h4>Periododo del --- al ----</h4>
    <h4>Total de dias facturados:</h4>
</div>

<div id="general">
 <div> <h3>Datos generales</h3> </div>  
 <div> <h4>Nombres:</h4> </div>
 <div> <h4>Apellidos:</h4> </div>
 <div> <h4>Cedula:</h4> </div>
 <div> <h4>Cargo:</h4> </div>
 
</div>
<div id="monetario">
    <br>
<div> <h4>Salario base:</h4> </div>
<br>
 <div> <h3>Ingresos no fijos</h3> </div>
 <div> <h4>Comision:</h4> </div>
 <div> <h4>Horas extras:</h3> </div> 
 <div> <h4>Viatico:</h4> </div>
 <div> <h4>Otros Ingresos:</h4> </div>
 <br>
 <div id="devengado"> <h4>Saldo total devengado:</h4> </div>
 <br>
 <div> <h3>Deducciones:</h3> </div>
 <div> <h4>IR:</h4> </div>
 <div> <h4>INSS:</h4> </div>
 <div> <h4>Anticipos:</h4> </div>
 <div> <h4>Otras deducciones:</h4> </div>
 <br>
 <div id="deducido"> <h4>Saldo total deducido:</h4>  </div>
 <br>
 </div>
 <div id="total">
 <div> <h4>Saldo total pagado:</h4> </div>
 </div>