<!DOCTYPE html>
<html>

<head>
  <title>Nomina</title>
  <link rel="stylesheet" href="assets/css/maquillajeP.css">
  <link rel="stylesheet" href="assets/js/codigojavas.js">
  <style type="text/css">
    body {
      font-family: Arial, Helvetica, sans-serif
    }
  </style>

</head>

<body>

  {{{ body }}}

</body>

<footer>
  <p>Copyright &copy; 2019</p>
  <p>All Rights Reserved </p>
</footer>



</html>