
<html>

<head>
  <title>Nomina</title>
  <link rel="stylesheet" href="/public/assets/css/maquillajeP.css">
  <link rel="stylesheet" href="public/assets/js/codigojavas.js">
  <style type="text/css">
  body {background-color: lightpink !important;
    margin: auto;
}
#nombreEmpresa {text-align: center;
    background-color: lightpink; padding: 0.5cm}
#caja{
    background-color: lightyellow;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 20pxem;
    border: 2px #CCC;
    border-radius: 1em;
    text-align: left center;
    }
    footer{ text-align: center}
    .row , div { text-align: center}
a{text-align: center}
    body {


      font-family: Arial, Helvetica, sans-serif

    }
  </style>

</head>

<body>

  {{{ body }}}

</body>

<footer>
  <p>Copyright &copy; 2019</p>
  <p>All Rights Reserved </p>
</footer>



</html>