<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bienvenido </title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/assets/css/maquillajeP.css"></script>
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Barra delizante -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Marca de la barra deslizante-->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Bienvenida <sup></sup></div>
      </a>

      <!-- Divide las paginas-->
      <hr class="sidebar-divider">

      <!--- Menu  item Prestamo -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fa fa-user-circle"></i>
          <span id="aPrestamo" href="#">Prestamo</span>
        </a>
      </li>
      <!-- Divide las paginas -->
      <hr class="sidebar-divider">

      <!--  Menu item Estado de prestamo-->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-folder"></i>
          <span id="aEstadoPrestamo" href="#">Estado de Prestamo</span>
        </a>
      </li>

      <!-- Divide paginas-->
      <hr class="sidebar-divider d-none d-md-block">

      <!--Menu item Cargo -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-folder"></i>
          <span id="aCargo" href="#">Cargo</span>
        </a>
      </li>

      <!--- no lo se jaja --->
    </ul>

    <!-- Contenedor de contenido-->
    <div id="content-wrapper" class="d-flex flex-column">

      <!--contenido principal-->
      <div id="content">

        <!--Barra superior-->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Alternar barra lateral -->
          <h1> Administradora </h1>
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- necesario de la plantilla -->
          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="messagesDropdown">


            <!---oooo--->
            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
          </div>
          </li>
          <div class="topbar-divider d-none d-sm-block"></div>
          <li>
            </ul>
        </nav>

        <!-- Espacio entre la barra de navegacion -->
        <ul class="navbar-nav ml-auto"></ul>

        <!--Comenzar el contenido de prestamo -->
        <div class="container-fluid">
        </div>
        <div id='divPrestamo'>
          <h1>Prestamo</h1>
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="fa fa-barcode"></span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Id Trabajador">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Tasa Interes">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" placeholder="Fecha Inicio">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <span class="fa fa-calendar">
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <br></br>
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="fa fa-share"></span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Cuota">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Monto">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
              </div>
            </div>
          </div>
          <br></br>
          <button type="button" class="btn btn-danger">Atras</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>

        <br></br>

        <!---comenzar el contenido de Estado de prestamo-->
        <div class="container-fluid"></div>
        <div id='divEstadoPrestamo'>
          <h1>Estado de Prestamo</h1>
          <br></br>
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="fa fa-barcode"></span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Cargo">
              </div>

              <br></br>
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>

        <!----Comenzar el contenido de estado de Cargo--->
        <div class="container-fluid"></div>
        <div id='divCargo'>
          <br></br>
          <h3 class="content-header"> Tabla Cargo</h3>
          <br></br>
          <div class="porlets-content">
            <div class="adv-table editable-table ">
              <div class="clearfix">
                <div class="btn-group">
                  <button id="editable-sample_new" class="btn btn-primary">
                    Agregar nuevo Cargo <i class="fa fa-plus"></i>
                  </button>
                </div>
                <br></br>
                <div class="margin-top-10"></div>
                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                  <thead>
                    <tr>
                      <th>Nombre del cargo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-id-Cargo="1" data-columns="3" class="">
                      <td class="cargo">Gerente de TI</td>
                      <td class="edit"><a href="javascript:;">Edit</a></td>
                      <td class="delete"><a href="javascript:;">Delete</a></td>
                    </tr>
                    <tr class="">
                      <td>Contador</td>
                      <td class="edit"><a href="javascript:;">Edit</a></td>
                      <td class="delete"><a href="javascript:;">Delete</a></td>
                    </tr>
                    <tr class="">
                      <td>Analista de sistemas</td>
                      <td class="edit"><a href="javascript:;">Edit</a></td>
                      <td class="delete"><a href="javascript:;">Delete</a></td>
                    </tr>
              </div </div> <div>
            </div>
            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="assets/js/sb-admin-2.min.js"></script>
            s
            <script src="assets/js/Mary.js"></script>

            <!-- Page level plugins -->
            <script src="vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->


            <!--pie de pagina -->
            <!----- <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy;  Mary Medrano 2019</span>
        </div>
      </div>
    </footer>---->
            <script>
              const padres = $(".edit").parent()

              padres.each((index, element) => {
                $(element).children(".edit").click(e => {
                  console.log("Editar")
                  console.log(element.dataset.idCargo)
                  const newInput = document.createElement("input")
                  newInput.setAttribute("type", "text")
                  newInput.setAttribute("name", "cargo")
                  newInput.setAttribute("placeholder", $(element).children(".cargo").html())
                  newInput.setAttribute("autofocus", "true")
                  console.log($(newInput).html())
                  const oldElement = $(element).children(".cargo")[0]
                  element.replaceChild(newInput, oldElement)

                  newInput.addEventListener("change", (e) => {

                    $(oldElement).html(e.currentTarget.value)
                    element.replaceChild(oldElement, newInput)

                  })

                })
                $(element).children(".delete").click(e => {
                  console.log("Eliminar")
                  console.log(element.dataset.idCargo)
                })

              })


            </script>
</body>

</html>