<header>
  <h1>Empresa X </h1>
  <H2>AGREGAR UN NUEVO USUARIO</H2>
</header>
<section>
  <form id="u" method="POST">

    <div>
      <label for="username">Nombre de Usuario:</label>
      <input name="username" type="text" placeholder="Nombre de usuario">
    </div>

    <div>
      <label for="password">Cree una contrase&ntilde;a:</label>
      <input name="password" type="password" placeholder="contrase&ntilde;a">
    </div>
    <div>
      <label for="TYPEOF">Tipo de usuario</label>
      <select name="idRol" id="idRol">
        {{#each Rol}}
        <option value="{{idRol}}">{{nombre}}</option>
        {{/each}}
      </select>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</section>
<script src="./assets/js/crearUsuario.js"></script>