<header>
  <div class="page-header">
  <H2>AGREGAR UN NUEVO USUARIO</H2>
  </div>
</header>
<section class="section">
<form id="u" method="post">
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">Nombre de usuario:</label>
    <div class="col-auto">
      <input type="text" class="form-control" name="username" placeholder="Nombre de usuario">
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Contrase&ntilde;a</label>
    <div class="col-auto">
      <input type="password" class="form-control" name="password" placeholder="Contrase&ntilde;a">
    </div>
  </div>
    <div class="form-group row" >
      <label for="TYPEOF" class="col-sm-2 col-form-label">Tipo de usuario</label>
       <div class="col-auto">
        <select name="idRol" id="idRol" class="form-control">
          {{#each Rol}}
           <option value="{{idRol}}">{{nombre}}</option>
        {{/each}}
      	</select>  
        </div>  
    </div> 
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</form>
</section>
<script src="./assets/js/crearUsuario.js"></script>