<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Dia del mes</th>
      <th colspan=2 cope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each diaPago}}
    <tr data-id-Dia-De-Pago="{{idDiaDePago}}">
      <td>{{diaPago}}</td>
      <td class="editar"><button>Editar</button></td>
      <td class="delete"><button>Eliminar</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>