<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/assets/css/maquillajeP.css"></script>
<section id="caja">
  <div>
    <h2 class="display-4">Login</h2>
    <div>
      <form id="formularioTrabajador" method="POST" action="/login">
        <div class="simple-login-container">
          <label>Username:</label>
          <input type="text" id="user" class="form-control" name="username" placeholder='nombre de usuario'
            maxlength="24">
          </tr>
        </div>
        <div class="simple-login-container">
          <label>Password:</label>
          <input type="password" id="password" name="password" class="form-control" placeholder='contrasena'
            maxlength="24">
        </div>
        <br>
        <input type="Submit">

      </form>
    </div>
  </div>

</section>

<script src="./assets/js/login.js"></script>