<div class="container">
  <h4 style="display-4">Bienvenidos al Sistema de Nomina</h4>
  {{#if admin}}
  <h5>Vista Administrador</h5>
  {{else}}
  <h5>Vista Recursos Humanos</h5>

  {{/if}}
</div>
</div>