body {background-color: lightgray}
#nombreEmpresa {text-align: center;
    background-color: lightpink; padding: 0.5cm}
#caja{
    background-color: lightyellow;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    border: 2px #CCC;
    border-radius: 1em;
    text-align: left;
    }
    footer{ text-align: center}
    
