body {background-color: lightpink !important;
    margin: auto;
}
#nombreEmpresa {text-align: center;
    background-color: lightpink; padding: 0.5cm}
#caja{
    background-color: lightyellow;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 2px #CCC;
    border-radius: 1em;
    text-align: left center;
    }
    footer{ text-align: center}
    .row , div { text-align: center}
a{text-align: center}
#usuario{
    padding: 20px;
}
.container{
    margin: auto !important;
    width: 50% !important; 

}